*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;

    padding-top: 10%;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

    background-color: aqua;
}

.popup {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;

    display: none;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.763);
}

.popup_message {
    width: 80vw;
    height: 40vh;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

    text-align: center;

    background-color: rgb(255, 255, 255);
}

.text1{
    width: 80%;
    height: 10vh;

    margin-bottom: 2vh;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    color: rgb(255, 255, 255);
    font-size: 1.2em;

    background-color: rgb(70, 19, 93); 
}

.text2{
    width: 80%;
    height: 30vh;

    margin-bottom: 2vh;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    background-color: rgb(70, 19, 93); 
}

.tombolInput{
    width: 80%;
    height: 15vh;

    margin-bottom: 2vh;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    
    background-color: rgb(70, 19, 93); 
}

.tombolInput button{
    background-color: rgb(140, 96, 161); 
    font-size: 2rem;
}

#nomorMeja{
    font-size: 10em;
    color: rgb(214, 213, 213);
}

#halaman2 {
    display: none;
    flex-direction: column;

    background-color: rgb(51, 0, 255);
}

.tombolInputMenu{
    width: 80%;
    height: 40vh;

    margin-bottom: 2vh;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25;

    background-color: rgb(70, 19, 93); 
}

.tombolInputMenu button{
    background-color: rgb(140, 96, 161); 
}

.container2 {
    width: 80%;
    height: 48vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: blue;
}

.kolom {
    width: 48%;
    height: 48vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(135, 15, 226);
}

#listPesanan {
    width: 88%;
    height: 46vh;

    margin-top: 2vh;
    margin-bottom: 2vh;

    display: flex;
    flex-direction: column;
    overflow: auto;

    background-color: rgb(15, 226, 96);
}

.tombolInputJumlahPesanan{
    width: 90%;
    height: 40vh;

    margin-bottom: 2vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25;

    background-color: rgb(70, 19, 93); 
}

.tombolInputJumlahPesanan button{
    background-color: rgb(140, 96, 161); 
    font-size: 1.1em;
    
}

#labelMenu{
    text-align: center;
    background-color: aliceblue;
    width: 90%;
    height: 30%;

    margin-top: 2vh;
    margin-bottom: 2vh;
}

#jumlahPesanan{
    width: 90%;
    height: 24%;
    font-size: 2.5em;
    
}

.kembali{
    width: 80%;
    height: 20%;

    border-radius: 20px;
    background-color: rgb(125, 125, 125);

    font-size: 2rem;
}
