*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(36, 126, 126);
}

#loadingPage{
    width: 90vw;
    height: 90vh;

    position: absolute;
    top:20;
    
    z-index: 200;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: aliceblue;

    background-color: rgba(29, 29, 29, 0.986);
}

#quizPage{
    width: 100vw;
    height: 100vh;

    position: absolute;
    top:0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: rgb(0, 255, 242);
}

#judulSoal{
    width: 42vw;
    height: 46px;

    position: absolute;
    z-index: 10;
    top :7%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;

    border-radius: 23px;

    background-color: rgb(88, 88, 88);
}

#soal{
    width: 80vw;
    height: fit-content;

    padding-top: 10%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
    position: absolute;
    top :10%;

    line-height: 1.3;
    word-wrap:break-word;
    display:inline;

    border-radius: 10px;

    background-color: rgb(192, 192, 192);
}

.text{
    display: inline;
}

.blank{
    display: inline;
    overflow-wrap: normal;
}

#opsi{
    width: 80vw;
    height: 14vh;

    z-index: 151;
    position: absolute;
    top :67%;

    border-radius: 10px;

    background-color: rgba(117, 117, 117, 0.658);
}

.buttonOpsi{
    padding: 5px 10px;
    margin: 5px 2px;

    width: fit-content;
    height: fit-content;

    border-radius: 18px;
    background-color: rgb(237, 243, 243) ;
    
}

#jawaban{
    position: absolute;

    width:100vw;
    height: 100vh;

    top : 0%;
    z-index: 150;
    /* background-color: rgba(18, 207, 44, 0.26); */
}

.buttonJawaban{
    padding: 5px 10px;
    margin: 5px 2px;
    font-size: 1.2em;
    
    display: none;
    justify-content: center;
    align-items: center;

    border-radius: 18px;
    background-color:rgb(237, 243, 243) ;
}

#nav{
    width: 80vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top :81%;


}

#cekButton{
    width: 70%;
    height: 36px;

    z-index: 151;

    border-radius: 18px;
}

#passButton{
    width: 25%;
    height: 36px;

    z-index: 151;

    border-radius: 18px;
}

#popup1{
    width: 90vw;
    height: 42vh;

    position: absolute;
    top:20%;
    z-index: 100;

    font-size: 1.8em;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: rgba(226, 226, 226, 0.432);
}

#popup2{
    width: 80vw;
    height: 72px;

    z-index: -100;
    position: absolute;
    top:78%;
    
    border-radius: 10px;
    font-size: 1.3em;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border : solid black 2px;

    background-color: rgb(226, 226, 226);
}

#penutupPage{
    width: 100vw;
    height: 100vh;

    position: absolute;
    top:0;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: rgb(255, 0, 200);
    /* background-color: ; */
}

#konten{
    width: 80vw;
    height:fit-content;

    padding: 10% 15px;

    position: absolute;
    top:10%;
    z-index: 100;

    font-size: 1.8em;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: rgb(226, 226, 226);
}

#konten img{
    width: 90%;
}

#judulVideo{
    width: 90%;
    margin-top: 20px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    font-size: 1em;
    
} 

#judulPenutup{
    width: 40vw;
    height: 40px;

    position: absolute;
    top:7%;
    z-index: 301;

    font-size: 1.2em;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    /* animation: ; */

    background-color: rgb(255, 255, 255);
}

@keyframes salah {
    0% {background-color: azure;}
    50% {
        background-color: red;
    }
    100% {background-color: rgb(247, 67, 67);}
}

@keyframes showJawaban {
    0% {
        background-color: azure;
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {transform: translateY(2px);}
}

@keyframes benar {
    0% {
        /* background-color: rgb(39, 255, 93); */
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(1px);
    }
    100% {
        background-color: rgb(39, 255, 93);
        color: black;
        /* border: none; */
        transform: translateY(0px);
    }
}

@keyframes keyframePopup1 {
    0% {
        /* background-color: rgb(39, 255, 93); */
        background-color: rgb(76, 77, 76);
        transform: translateY(-5px);
    }
    
    50% {
        transform: translateY(5px);
    }

    100% {
        background-color: rgb(240, 243, 241);
        color: black;
        /* border: none; */
        transform: translateY(0px);
    }
}

@keyframes keyframeAyat {
    0% {
        /* background-color: rgb(39, 255, 93); */
        background-color: rgb(76, 77, 76);
        transform: translateY(-5px);
    }
    
    50% {
        transform: translateY(5px);
    }
    
    100% {
        background-color: rgb(240, 243, 241);
        color: black;
        /* border: none; */
        transform: translateY(0px);
    }
}

@keyframes loading1 {
    0% {
        /* background-color: rgb(39, 255, 93); */
        background-color: rgb(76, 77, 76);
        transform: translateY(-15px);
    }
    
    50% {
        transform: translateY(15px);
    }

    100% {
        background-color: rgb(240, 243, 241);
        color: black;
        /* border: none; */
        transform: translateY(0px);
    }
}